<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="restaurant parrilla buenosAires palermo comida delivery">
    <link rel="stylesheet" href="../css/style.css">
    <title>Locales</title>
</head>
<body class="colorPrimario">
    <nav class="nav">
        <ul class="nav">
          <li class="nav"><a href="../index.html">Home</a></li>
          <li class="nav"><a href="menu.html">Menu</a></li>
          <li class="nav"><a href="#">Locales</a></li>
          <li class="nav"><a href="contacto.html">Contacto</a></li>
        </ul>
      </nav>
      <main>
        <img src="../assets/img/logo.png" alt="logo-menu">
      </main>
      <div>
        <h2>Vení a nuestras sucursales a disfrutar de una parrilla típica argentina, un pan casero increíble, pastas artesanales y una variada carta de vinos. Además contamos con juegos para los mas chicos y un salon amplio y cómodo. Te esperamos!</h2>
        <h2>COSTA RICA 4464 / PALERMO / T. 4833.9138 Todos los días Mediodía y noche</h3>
        <br>
    </div>
    <div>
        <h2>ARCOS 3200 / NUÑEZ / T. 4701-1648 Todos los días Mediodía y noche</h3>
    </div>
    <footer>
        <h2>LOGO</h2>
        <h2>REDES SOCIALES</h2>
        <h2>CONTACTO</h2>
    </footer>
</body>
</html>